<html>
<head>  
    {% extends "parent.html" %}
 {% block title %}Presentation {% endblock %}
</head>
<body>
  {% block content %}
      <div class="row">
         <div class="col-md-3">
          
            <div class="card bg-light">
              <div class="card-header">model UNET</div>
                 <a href="{{ url_for('.presentation') }}"> <img src={{ url1}} class="card-img-top" height="250px" width="250px"></a>
                      <div class="card-body">
                      <p class="card-text">Observation : Model UNet </p>
                     </div>
                 </div>
            </div>
          
           
              <div class="col-md-3">
              <div class="card bg-light">
                
                <div class="card-header">model FPN</div>
                <a href="{{ url_for('.presentation_fpn') }}">
                  <img src={{ url2}} class="card-img-top" height="250px" width="250px"></a>
                      <div class="card-body">
                      <p class="card-text">Observation : Model FPN</p>
                      </div>
                  </div>
                
          </div>
          
            
    </div>
</div>
  {% endblock %}
</body>
</html>